*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(./media/assets/bg.png);
    background-size: contain;
}



/* --------Header Styles--------- */



.site-header{
    background-color: #282A3E;
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
}
.nav-ul a:hover{
    color: #b3ff5c;
    cursor: pointer;
}
.header-logo{
    width: 70px;
    margin-left: 100px;
    img{
        width: 70px;
    }
}
.nav-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    z-index: 1;
    li a{
        text-decoration: none;
        color: #C9E5FF;
        position: relative;
    }a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2.5px;
        bottom: 0;
        left: 0;
        background-color: #b3ff5c;
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }a:hover::before {
        transform: scaleX(1);
      }
}
.nav-ul > li {
    margin:  10px;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 3px;
    width: 32px;
    border-radius: 3px;
  }
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
  /*  transforms the hamburger icon into a cross  */
    transform: rotate(-45deg);
  }

/* Mobile nav menu styling with media queries */

@media (max-width: 900px) {
    .header-logo{
        margin-left: 40px;
    }
    .nav-ul{
        margin-right: 40px;
    }
}
  @media (max-width: 700px) {
    .header-logo{
        margin-left: 20px;
    }
    .menu-button-container {
      display: flex;
      margin-right: 20px;
    }
    .nav-ul {
      position: absolute;
      top: -0.4rem;
      margin-top: 94px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-left: 0;
    }
    #menu-toggle ~ .nav-ul li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
    #menu-toggle:checked ~ .nav-ul li {
      border: 0.5px solid #b3ff5c;
      height: 2.5em;
      padding: 0.5em;
    }
    .nav-ul > li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      /* padding: 0.5em 0; */
      width: 100%;
      color: black;
      background-color: #282A3E;
    }
    .nav-ul > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }


/* --------HOME PAGE--------- */
/* --------Hero Section Styles--------- */



.hero-section{
    height: 50vh;
    position: relative;
    text-align: center;
    color: #b3ff5c ;
    padding: 1rem;
}

.hero-h1{
    margin-top: 12rem;
    font-size: 3.6rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0;
    animation: backInDown;
    animation-duration: 700ms;
}

.hero-h1-btm{
    font-size: 3.6rem;
    font-weight: 900;
    margin-left: 7rem;
    margin-top: 0;
    text-transform: uppercase;
    animation: backInUp;
    animation-duration: 700ms;
}

.asset-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-asset{
    transform: rotate(345deg);
    width: 280px;
    position: relative;
    bottom: 12rem;
    z-index: -5;
    opacity: 0.67;
    animation: fadeIn; 
    animation-duration: 700ms;
}

@media (min-width: 600px) {
    .hero-section-asset{
        width: 500px;
        bottom: 17rem;
    }
}

@media (min-width: 800px) {
    .hero-section{
        height: 100vh;
    }
    .hero-h1{
        font-size: 6rem;
    }
    .hero-h1-btm{
        font-size: 6rem;
        margin-top: 0;
        margin-left: 20rem;
    }
    .hero-section-asset{
        bottom: 22rem;
    }
}

@media (min-width: 1024px) {
    .hero-h1{
        font-size: 8rem;
    }
    .hero-h1-btm{
        font-size: 8rem;
    }
    .hero-section-asset{
        bottom: 25rem;
    }
}

@media (min-width: 2000px) {
    .hero-h1{
        font-size: 12rem;
    }
    .hero-h1-btm{
        font-size: 12rem;
    }
    .hero-section-asset{
        width: 1000px;
        bottom: 43rem;
    }
}



/* --------Design & Development Section--------- */



.dnd-section{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.design-pic{
  animation: fadeInLeft; 
  animation-duration: 4s;
  animation-timeline: scroll();
}
.dev-pic{
    animation: fadeInRight; 
  animation-duration: 4s;
  animation-timeline: scroll();
}

.design-div, .dev-div{
    margin: 0 auto;
    padding-bottom: 3rem;
}
.dnd-image{
    margin-bottom: 1.5rem;
    img{
        width: 280px;
    }
}
.dnd-content{
    margin: 0 auto;
    /* margin-bottom: 5rem; */
    
    h3{
        font-size: 2rem;
        color: #b3ff5c;
        font-weight: 800;
    }
    p{
        color: #C9E5FF;
        font-weight: 300;
        width: 290px;
    }
}

@media (min-width: 600px) {
    .dnd-section{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-top: 15rem;
    }
}

@media (min-width: 800px ) {
    .dnd-section{
        margin-top: 0;
        margin-bottom: 15rem;
    }
    .design-div, .dev-div{
        /* width: 50%; */
        display: flex;
        align-items: center;
        padding: 20px;
    }
    .dev-div{
        flex-direction: row-reverse;
    }
    .dnd-image{
        flex: 1; 
    }
    .dnd-image img{
        /* width: 450px; */
        height: auto;
    }
    .dnd-content{
        flex: 1;
        padding: 0 30px;
    }
}

@media (min-width: 1200px){
    .dnd-image img{
        width: 400px;
    }
    .design-pic{
        padding-right: 4rem;
    }
    .dev-pic{
        padding-left: 4rem;
    }
}



/* --------ABOUT PAGE--------- */
/* --------Heading Style & intro Styles--------- */

.about-h1{
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 7rem;
    color: #b3ff5c;
    font-size: 2.4rem;
    font-weight: 900;
    text-transform: uppercase;
    animation: fadeIn; 
    animation-duration: 1s;
}

.introP-section{
    text-align: center;
    margin: 0 auto;
    color: #C9E5FF;
    width: 80%;
    margin-bottom: 10rem;
    font-size: 1.3rem;
}
.intro-top-p{
    margin-bottom: 7rem;
    animation: lightSpeedInLeft; 
    animation-duration: 2s;
    
}
.intro-btm-p{
    animation: lightSpeedInRight;  
    animation-duration: 2s;

}

@media (min-width: 1024px) {
    .about-h1{
        font-size: 4rem;
    }
    .introP-section{
        width: 70%;
    }
}
@media (min-width: 1600px) {
    .about-h1{
        font-size: 4rem;
    }
    .introP-section{
        width: 50%;
    }
}

/* --------Meet the Team Styles--------- */
.mtt-section{
    padding: 1rem;
}
.mtt-h2{
    text-align: center;
    color: #b3ff5c;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 8rem;
    animation: fadeIn; 
    animation-duration: 4s;
}

.team-divs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    h4{
        color: #C9E5FF;
        font-size: 1.5rem;
    }
}

.person-card{
    padding: 20px;
}

@media (min-width: 800px) {
    .mtt-section{
        width: 800px;
        margin: 0 auto;
    }
    
}

/* --------Design Page styles Styles--------- */


.design-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a{
        text-decoration: none;
        color: #C9E5FF;
        padding-top: 0px;
        font-size: 1.4rem;
    }
    img{
        width: 280px;
        margin-bottom: 1.4rem;
    }
}

.container-div{
    text-align: center;
    margin-bottom: 3rem;
}
    /* animation: headShake; 
    animation-duration: 1.4s;
}:nth-child(1){
    animation-duration: 2s;
} */


.overlay-link:hover{
    img{
        filter: drop-shadow(0px 0px 13px #C9E5FF);
        transition: all 0.3s ease-in-out;
    }
}
.dd-link{
    position: relative;
}
.dd-link:hover{
    color: #b3ff5c;
}
.dd-link::before{
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2.5px;
        bottom: 0;
        left: 0;
        background-color: #b3ff5c;
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }.dd-link:hover::before {
        transform: scaleX(1);
      }


@media (min-width: 600px ) {
    .design-container{
        .container-div{
            padding:20px;
        }
    }
}

@media (min-width: 1024px) {
    .design-container{
        margin: 0 2rem;
        .container-div{
            padding: 60px;
        }
    }
}



/* --------Tutorials page Styles--------- */



.tutorials-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.tutorial-div{
    background-color: #C9E5FF;
    border-radius: 51px;
    margin: 1rem;
    width: 500px;
    padding: 1.5rem;
    color: #282a3e;
}
.tutorial-h3{
    margin-bottom: 0.8rem;
}
.date-author-p{
    margin: 0;
    font-size: 0.8rem;
}
.excerpt-p{
    margin-top: 2rem
}

@media (min-width:1500px) {
    .tutorials-section{
        margin: 0 5rem;
    }
}



/* --------Inspiration page for DESIGN Styles--------- */
.gallery-section{
    margin-top: 10rem;
    margin-bottom: 15rem;
}
.img-credit{
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    text-align: center;
    color: #C9E5FF;
    background-color: rgba(0, 0, 0, 0.59);
    width: 100%;
    display: none;
}
.gallery-grid div{
    width:100%;
  height: 240px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.gallery-grid{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}
.image01{
    background-image: url(./media/stock/inspo-1.png);
}
.image02{
    background-image: url(./media/stock/inspo-2.png);
}
.image03{
    background-image: url(./media/stock/inspo-3.png);
}
.image04{
    background-image: url(./media/stock/inspo-4.png);
}
.image05{
    background-image: url(./media/stock/inspo-5.png);
}
.image06{
    background-image: url(./media/stock/inspo-6.png);
}
.image:hover{
    filter: drop-shadow(0px 0px 13px #C9E5FF);
        transition: all 0.4s ease-out;
        transform: scale(1.2);
        z-index: 6;
        .img-credit{
            display: block;
        }
}

@media (min-width: 600px) {
    .gallery-grid{
        width: 68%;
    }
    .gallery-grid div{
        width: 50%;
    }
}
@media (min-width: 1350px) {
    .gallery-grid{
        width: 50%;
    }
    .gallery-grid div{
        width: 25%;
    }
}











/* --------Contact page Styles--------- */

.contact-h1{
    text-align: center;
    margin-top: 17rem;
    color: #b3ff5c;
    font-size: 3rem;
    text-transform: uppercase;
}

.form-section{
    margin-top: 5rem;
}

.contact-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    input{
        margin: 5px;
        margin-top: 1.5rem;
        border-radius: 4px;
        border: 2px solid #C9E5FF;
        height: 29px;
        padding: 4px;
        
    }
    input:focus, .message:focus{
        transition: all 200ms ease-in-out;
        border: #b3ff5c;
        box-shadow: 0px 0px 17px 4px rgba(179,255,92,0.50);
    }
    .message{
        margin: 5px;
        padding: 5px;
        margin-top: 1.5rem;
        border-radius: 6px;
        border: 2px solid #C9E5FF;
    }
    label{
        margin: 5px;
        margin-top: 1.5rem;
        font-size: 20px;
        color: #C9E5FF;
        font-weight: 300;
    }
    .submit-btn{
        margin-top: 20px;
        width: 40%;
        height: 35px;
        margin-top: 1.5rem;
        border: 2px solid #C9E5FF;
        color: #282a3e;
    }
    .submit-btn:hover{
        cursor: pointer;
        background-color: #282A3E;
        color: #b3ff5c;
        border: 2px solid #b3ff5c;
        box-shadow: 0px 0px 17px 4px rgba(179,255,92,0.50);
        transition: all 320ms ease-in-out;

    }
}

@media (min-width: 500px) {
    .contact-form{
        .submit-btn{
        width: 20%;
    }
    }    
}

.socialMed-section{
    margin-top: 10rem;
}

.socialMed-h2{
    text-align: center;
    color: #b3ff5c;
    font-size: 2rem;
}

.socialIcon-div{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    img{
        width: 50px;
    }
    img:hover{
        filter: drop-shadow(0px 0px 13px white);
        transition: all 320ms ease-in-out;
    }
    ul{
        margin: 0;
        padding: 10px;
    }
    
}

@media (min-width: 800px) {
    .socialIcon-div{
        .img{
            width: 100px;
        }
    }
}