*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(./media/bg.png);
    background-size: contain;
}

/* --------Header Styles--------- */
.site-header{
    background-color: #282A3E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header-logo{
    margin-left: 100px;
    img{
        width: 70px;
    }
}
.site-nav{
    margin-right: 100px;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    li a{
        text-decoration: none;
        color: #C9E5FF;
        padding-left: 10px;

    }
}

/* --------Hero Section Styles--------- */

.hero-section{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .hero-h1{
        font-size: 200px;
        text-align: center;
        font-weight: 900;
        color: #b3ff5c;
        margin: 0;
        margin-bottom: 19rem;
    }
    .hero-h1-btm{
        font-size: 200px;
        text-align: center;
        color: #b3ff5c;
        font-weight: 900;
        margin: 0;
    }
    .hero-section-asset{
        position: absolute;
        width: 800px;
        transform: rotate(345deg);
        margin-bottom: 8rem;
        opacity: 0.67;
        z-index: -10;
        
       
}
}
@media only screen and (max-width: 1600px) {
    .hero-section{
        .hero-h1{
            font-size: 150px;
        }
        .hero-h1-btm{
            font-size: 150px;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .hero-section{
        .hero-h1{
            margin-left: 50px;
        }
        .hero-h1-btm{
            margin-right: 50px;
        }
    }
}

