*{
    font-family: 'Poppins', sans-serif;
}

/* --------Header Styles--------- */
.site-header{
    background-color: #282A3E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header-logo{
    margin-left: 100px;
    img{
        width: 70px;
    }
}
.site-nav{
    margin-right: 100px;
}
.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    li a{
        text-decoration: none;
        color: #C9E5FF;
        padding-left: 10px;

    }
}

/* --------Hero Section Styles--------- */

.hero-section{
    height: 100vh;
    position: relative;
    .hero-h1{
        font-size: 100px;
        text-align: center;
        color: #b3ff5c;
        margin: 0;
        margin-right: 6rem;
        margin-top: 10rem;
    }
    .hero-h1-btm{
        font-size: 100px;
        text-align: center;
        color: #b3ff5c;
        margin: 0;
        margin-left: 20rem;
        margin-top: 1.5rem;
    }
    .hero-section-asset{
        position: absolute;
        top: 0;
        z-index: -10;
    }
}






















.hero-section-asset{
    width: 200px;
}
